.header {
  color: #007fa3;
  font-size: 36px;
	font-weight: normal;
	padding: 20px 20px;
	background-color: #fff;
}

.containerBox {
	padding: 20px 20px;
}

.profiles {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.reload {
	 display: block;
	 padding: 5px;
	 font-size: 13px;
	 color: #fff;
	 border-radius: 3px;
	 background-color: #2e6099;
	 cursor: pointer;
}
