.contentBox {
  background-color: var(--panel-header-background);
  max-width: 1600px;
  width: 100vw;
  height: 95vh;
  font-size: 1.6rem;
  box-shadow: 0 6px 18px rgba(var(--shadow-rgb),.05); 
}

.container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--app-background-stripe);
  height: 127px;
  width: 100%;
  z-index: -1;
}